/* footer */

.footer_notices{
	border-top: #d6d6d6 1px solid;
}

.footer{
	border-top: #d6d6d6 1px solid;
 	font-family: "Arial";
	font-size: 13px; 
	color: #999999;
	padding-top: 6px;
}

.noti{
	width: 229px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 10px;	
}

.noti.hasBorder{
	border-right: #d6d6d6 1px dotted;
}

.noti a, .noti a:visited, .footer a, .footer a:visited{
	font-weight: bold;
	color: #8da3b8;
	text-decoration: none;
}

.noti a:hover, .footer a:hover{
	color: #496279;
}

.title_notice{
 	font-family: "Arial";
	font-size: 16px; 
	color: #99b3cc;
}

.noti_sub{
 	font-family: "Arial";
  	line-height: 13px;
	font-size: 13px; 
	color: #999999;
}

.footer_logo{
    background-image: url(/css/images/logo_footer.jpg);
    background-repeat: no-repeat;
	height: 67px;
	width: 47px;
	margin-top: 8px;
	float: right;
}

