/* header */

.headerContainer{
	height: 71px;
}

.headerLogo{
	height: 68px;
	width: 180px;
	background-color: #a8cd96;
    border-bottom: green 1px solid;
	border-left: green 1px solid;
    border-right: green 1px solid;
}

.headerList{
	width: 662px;
	font-family: "Arial";
	font-size: 14px;
}

.headerList ul{
    padding-top: 30px;
   	margin-left: 5px;
}

.headerList ul li{
	display: inline;
	padding-left: 22px;
	padding-right: 28px;
    border-right: #dcdcdc 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headerList ul li a, .headerList ul li a:visited{
	font-family: Arial;
	font-weight: bold;
	color: #999999;
    text-decoration: none;    
}

.headerList li a:hover{
	color: #666666;
}

.headerSign{
	background-color: #a8cd96;
	height: 23px;
	width: 104px;
    border-bottom: green 1px solid;
	border-left: green 1px solid;
    border-right: green 1px solid;
}

.login_sign{
	padding-left: 4px;
	padding-top: 1px;
	color: #FFF;
}

.login_sign a, .login_sign a:visited{
	font-family: Arial;
	font-size: 13px;
	color: #336600;
}

.login_sign a:hover{
	font-family: Arial;
	font-size: 13px;
	color: #333333;
}