/* header */

.headerContainer{
	height: 71px;
}

.headerLogo{
	height: 71px;
	width: 182px;
	background-image: url(/images/logo.jpg);
}

.headerList{
	width: 662px;
	font-family: "Arial";
	font-size: 14px;
}

.headerList ul{
    padding-top: 30px;
   	margin-left: 5px;
}

.headerList ul li{
	display: inline;
	padding-left: 22px;
	padding-right: 28px;
    border-right: #dcdcdc 1px solid;
    padding-top: 15px;
    padding-bottom: 15px;
}

.headerList ul li a, .headerList ul li a:visited{
	font-family: Arial;
	font-weight: bold;
	color: #999999;
    text-decoration: none;    
}

.headerList li a:hover{
	color: #666666;
}

.headerSign{
	height: 27px;
	width: 106px;
	background-image: url(/images/login.jpg);
}

.login_sign{
	padding-left: 4px;
	padding-top: 3px;
	color: #FFF;
}

.login_sign a, .login_sign a:visited{
	font-family: Arial;
	font-size: 13px;
	color: #336600;
}

.login_sign a:hover{
	font-family: Arial;
	font-size: 13px;
	color: #333333;
}