input.login { 
	margin: 0px; 
	padding: 0px; 
	float: left; 
	border: 1px solid #cdcdcd; 
	background-color: white;  
	width: 160px; 
	height: 26px;
	font-size: 14px;
	padding-left: 3px;
}
  

.textbox {
	border: 1px solid #999999;  
	border-top-color: #CCCCCC;  
	border-left-color: #CCCCCC; 
	color: #333333;  
	font: 90% Verdana, Helvetica, Arial, sans-serif; 
	font-size: 11px; 
}

div.login { 
	font-family: Helvetica; 
	font-size: 12px; 
	margin-top: 22px; 
	padding-right: 10px; 
	padding-left: 52px;
}

div.login1 { 
	font-family: Helvetica; 
	font-size: 12px; 
	margin-top: 22px; 
	padding-right: 10px; 
}

div.submitLogin {
	margin-top: 5px;
	padding-left:47px;
}

div.error_msg {
	color: red;
	text-align: center;
	padding-top: 5px;
	margin-left: 20px;
	display:none;
}

label.login {
	font-family: Helvetica;
	font-size: 12px;
	color: #666666;
	font-weight:  lighter;
}

div.loginContainer {
	background-color: #f1f1f1;
	border:1px solid #999999; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height:137px; 
	width:429px;
	margin-left: 3px;
	margin-top: 3px; 
}

div.confirmationDialog {
	font-family: Helvetica;
	font-size: 17px;
	color: #666666;
	font-weight:  lighter;
	text-align: center;
	vertical-align: middle;
	margin-top: 50px;
	height: 20px;
}

div.logoutDialog {
	font-family: Helvetica;
	font-size: 17px;
	color: #666666;
	font-weight:  lighter;
	text-align: center;
	vertical-align: middle;
	margin-top: 30px;
	margin-left: 10px;
	height: 20px;
}

div.confirmationButtons {
	margin-top: 20px;
	text-align: center;
	margin-left: 100px;
}

img.ajax_loading {
	width: 25px;
	height: 25px;
	padding-left: 5px;
	display:none;
}

p.submit {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	display: inline;
	letter-spacing: -1px;
}

p.confirmationText {
	font-family: Helvetica;
	font-size: 10px;
	color: #666666;
	font-weight:  lighter;
	text-align: center;
	vertical-align: middle;
	height: 20px;
}

a.linkForgot {
	font-family: Arial;
	font-size: 12px;
	color: #666666;
	letter-spacing: 0px;
}

/* 'Submit' Button */
input.submitButton{
   font-family: [DINOT] medium;
   font-size:16px;
   color:white;
   text-align: center;
   border-style: solid;
   border-width: 1px;
   border-color: #8ab077;
   background-image: url(/css/images/submit.jpg);
   height: 25px;
   margin-left: 5px;
   float:left;
}

/*CheckBox Button*/

input.checkbox {
   margin-top: -2px;
}