/* comments */

ol.timeline {
	list-style:none;
}

ol.timeline li { 
	display:none;
	position:relative;
}

/*
.widgetContainer {
	padding-top: 8px;
}
*/

textarea {
	color:#000000;
	font-size:12px;
	border:#999999 solid 1px;
	height:40px;
	margin-left: 10px;
	width:500px;
}

.comments{
	height: 50px;
    border-top: #d6d6d6 1px dotted;
    margin-left: -18px;
    margin-bottom: 20px;
}

.post{
    border-top: #d6d6d6 1px dotted;
	background-color: #f2f7ef;
	height: 131px;
	margin-top: 20px;
}

/* register */

.registerContainer{
	height: 422px;
}

.ppalContainer {
	padding-top: 3px;
}

.campos{
	height: 381px;
    border-top: #d6d6d6 1px dotted;
}

.columna1{
   height: 60px;
   margin-bottom: 2px;
}
.columna2{
   height: 60px;
   margin-bottom: 2px;
}

/* search results */

.result{
	height: 50px;
    border-top: #d6d6d6 1px dotted;
    padding-bottom: 20px;
}

.result2{
	background-color: #f5faf5;
	height: 50px;
    border-top: #d6d6d6 1px dotted;
    padding-bottom: 20px;
}

.result_selected{
	background-color: #d6ebd6;
	height: 50px;
    border-top: #d6d6d6 1px dotted;
    padding-bottom: 20px;
}

.contai{
	margin-left: -2px;
}

.title_result{
	font-family: "Georgia";
 	font-style: italic;
	font-size: 23px; 
	color: #79a760;
	margin-top: 9px;
}

.title_result_selected{
	font-family: "Georgia";
 	font-style: italic;
	font-size: 23px; 
	color: #666666;
	margin-top: 9px;
}

.result_list{
	font-size: 13px; 
	margin-top: -40px;
}

.result_list ul li{
	display: inline;
	margin-left: -20px;
	padding-right: 24px;
}

.result_list ul li a, .result_list ul li a:visited{
	font-family: Arial;
	font-weight: bold;
	color: #999999;
	display: inline;
}

.result_list li a:hover{
	color: #666666;
}

.ultimo{
	font-family: "Arial";
	text-decoration: none;
	font-style: normal;
	font-weight: normal;
}

.avatar2{
	border: #d6d6d6 1px solid;
	height: 52px;
	width: 51px;
	margin-right: 3px;
	margin-top: 9px;
	margin-left: 9px;
}

.sources{
	margin-top: -70px;
	margin-left: 399px;
}

.sources p{
	font-family: "Georgia";
	font-size: 23px;
	font-style: italic; 
	color: #999999;
	margin-left: 30px;
	display: inline;
}

/* right column */

.register_info{
	background-color: #f7f7f7;
	height: 420px;
    border: #d6d6d6 1px solid;
	padding-left: 9px;
	padding-right: 9px;
}

.contributors{
	background-color: #f7f7f7;
	height: 111px;
	padding-left: 9px;
    border: #d6d6d6 1px solid;
    line-height: 0px;
    padding-bottom: 9px;
}

.species_details{
	background-color: #f7f7f7;
	height: 360px;
	padding-left: 9px;
	border: #d6d6d6 1px solid;
}

.related_species{
	background-color: #f7f7f7;
	height: 129px;
	padding-left: 9px;
	border: #d6d6d6 1px solid;
}

/* others */

.separator_small{
    border-top: #d6d6d6 1px dotted;
	height: 1px;
	width: 1px repeat-x;
	margin-right: 9px;
}

.separator_vertical{
    border-left: #d6d6d6 1px dotted;
    height: 67px;
    width: 1px;
    float: left;
    margin-top: 12px;
    padding-right: 7px;
}

.avatar{
	border: #d6d6d6 1px solid;
	height: 52px;
	width: 51px;
	margin-right: 3px;
	margin-top: 9px;
	float: left;
}

/* separators */

.separator40{
	height: 40px;
	line-height: 0px;
}

.separator9{
	height: 9px;
	line-height: 0px;
}

.separator7{
	height: 7px;
	line-height: 0px;
}

.separator6{
	height: 6px;
	line-height: 0px;
}

.separator1{
	height: 1px;
	line-height: 0px;
}

/* typography */

.title_blue{
 	line-height: 22px;
 	padding-bottom: 9px;
 	padding-top: 9px;
 	font-family: "Georgia";
 	font-style: italic;
	font-size: 20px; 
	color: #9db7d2;
}

.title_blue_search{
 	font-family: "Georgia";
 	font-style: italic;
	font-size: 20px; 
	color: #9db7d2;
	margin-left: 9px;
	margin-top: 2px;
}

.title_gray{
 	font-family: "Georgia";
 	font-style: italic;
	font-size: 20px; 
	margin-left: 10px;
	color: #a9a9a9;	
}

.title_comment{
	font-style: italic;
	font-family: "Georgia";
	font-size: 13px;
	color: #d6d6d6;
	padding-top: 8px;
}

.title_comment_u{
	text-decoration: underline;
	font-style: italic;
	line-height: 32px;
	font-size: 15px;
	color: #bfbfbf;
}

.text_comment{
	letter-spacing: -1px;
	color: #a9a9a9;
	font-family: "Arial";
	font-size: 13px;
	line-height: 14px;
}

.view_more{
	text-decoration: none;
	text-align: right;
	font-weight: bold;
	font-family: "Arial";
	font-size: 11px;
	color: green;
	float: right;
	padding-right: 8px;
}

.submit_14{
	color: gray;
	letter-spacing: -1px;
	font-family: "Arial";
	font-size: 14px;
	margin-top: 32px;
	margin-left: -17px;
}

.requiredLabel{
	color: red;
	font-family: "Arial";
	font-size: 11px;
	margin-left: 10px;
	margin-top: 2px;
}

.register_12{
	color: gray;
	letter-spacing: -1px;
	font-family: "Arial";
	font-size: 12px;
	padding-top: 6px;
}

.register_14{
	color: gray;
	letter-spacing: -1px;
	font-family: "Arial";
	font-size: 14px;
	padding-top: 19px;
	padding-bottom: 19px;
	line-height: 
}

.title_campo{
	color: gray;
	font-family: "Arial";
	font-size: 14px;
	padding-left: 9px;
}

.lista{
	color: gray;
	text-decoration: none;
}

/* botones */ 

.commentButton{
   text-align: center;
   width: 94px;
   height: 17px;
   float: right;
   font-size:13px;
   font-family: [DINOT] medium;
   color:#FFFFFF;
   border-style: solid;
   border-width: 1px;
   border-color: green;
   background-image: url(/css/images/comment_now.jpg);
   margin-top: 9px;
}

.commentButtonPost{
   text-align: center;
   width: 103px;
   height: 17px;
   float: right;
   font-size:13px;
   font-family: [DINOT] medium;
   color:#797979;
   border-style: solid;
   border-width: 1px;
   border-color: gray;
   margin-top: 6px;
   background-image: url(/css/images/comment_now_post.jpg);
   margin-right: 10px;
}

.search_button{
   font-family: Georgia;
   font-style: italic;
   font-size:18px;
   color:white;
   text-align: center;
   border-style: solid;
   border-width: 1px;
   border-color: gray;
   background-image: url(/css/images/search.jpg);
   width: 96px;
   height: 25px;
   padding: 0px 0px 0px 0px;
}

.submit_button{
   font-family: [DINOT] medium;
   font-size:18px;
   color:white;
   text-align: center;
   border-style: solid;
   border-width: 1px;
   border-color: green;
   background-image: url(/css/images/submit.jpg);
   width: 114px;
   height: 27px;
   padding: 0px 0px 0px 0px;
   margin-left: 10px;
   margin-top: 29px;
   line-height: 23px;
}

/* inputs */

.check_container{
	margin-top: 32px;
	margin-left: 11px;
}

input.text{
	padding: 0px 0px 0px 0px; 
	margin: 0px 0px 0px 0px; 
	height: 29px;
	margin-left: 9px;
}

input.searchtext{
	height: 25px;
}

input.comment{
    border: 1px #d6d6d6 solid;
	height: 57px;
	width: 686px;
	margin-left: 10px;
}