/* home */

.text1{
	font-family: "Georgia";
	font-size: 26px;
	font-style: italic;
	color: #99b3cc;
}

.text2{
	font-family: "Arial";
	font-size: 16px;
	color: #999999;
	margin-top: -6px;
}

.text3{
	font-family: "Arial";
	font-size: 13px;
	font-weight: bold;
	color: #999999;
	margin-left: 310px;
	text-decoration: none;
}

.homeContainer{
	height: 550px;
}

.centerContainer{
	height: 550px;
}

.searchCont{
	height: 138px;
	margin-top: 180px;
}

.searchContainer{
	background-color: #f7f7f7;
    border: #d6d6d6 1px solid;	
	height: 37px;
	width: 548px;
	margin-top: 6px;
}

.titleContainer{
	height: 37px;
	width: 82px;
	float: left;
}

.titleContainer p{
	font-family: Georgia;
	color: #8da3b8;
	font-style: italic;
	font-size: 21px;
	padding-left: 8px;
	line-height: 36px;
    text-decoration: none; 
    display: inline;	
}

.inputContainer{
	height: 37px;
	width: 362px;
	float: left;
}

.searchText{
	height: 23px;
	width: 360px;
	border: #d6d6d6 1px solid;	
	margin-top: 5px;
	line-height: 24px;
	float:left;
}

.buttonContainer{
	height: 37px;
	width: 96px;
	float: left;
}

.searchButton{ 
	height: 25px;
	width: 95px;
    background:url(images/search.jpg) repeat 0px 0px;
    border: 1px #d6d6d6 solid; 
	text-decoration: none;
	margin-top: 5px; 
	line-height: 24px;
	text-align: center;
	font-family: "Georgia";
	font-size: 18px;
	font-style: italic;
}

.searchButton a{ 
	text-decoration: none; 
	color: white;
}

.separator_lr{
	height: 550px;
}

/* index */

.searchContainer_index{
	background-color: #f7f7f7;
    border: #d6d6d6 1px solid;	
	height: 37px;
	width: 948px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.titleContainer_index{
	height: 37px;
	width: 188px;
	float: left;
}

.titleContainer_index p{
	font-family: Georgia;
	color: #8da3b8;
	font-style: italic;
	font-size: 21px;
	padding-left: 8px;
	line-height: 36px;
    text-decoration: none; 
    display: inline;	
}

.inputContainer_index{
	height: 37px;
	width: 656px;
	float: left;
}

.searchText_index{
	height: 23px;
	width: 654px;
	border: #d6d6d6 1px solid;	
	margin-top: 5px;
	line-height: 24px;
	float:left;
}

.buttonContainer_index{
	height: 37px;
	width: 96px;
	float: left;
}

.searchButton_index{ 
	height: 25px;
	width: 94px;
    background:url(images/search.jpg) repeat 0px 0px;
    border: 1px #d6d6d6 solid; 
	text-decoration: none;
	margin-top: 5px; 
	line-height: 24px;
	text-align: center;
	font-family: "Georgia";
	font-size: 18px;
	font-style: italic;
}

.searchButton_index a{ 
	text-decoration: none; 
	color: white;
}