/* CSS file */

@font-face {
    src:url("fonts/Helvetica.swf");
    fontFamily: "Helvetica";
    font-weight: normal;
}

@font-face {
    src:url("fonts/Helvetica.swf");
    fontFamily: "Helvetica";
    fontWeight: bold;
}