/* CSS file */

Application{
	border-style:solid;
	border-thickness: 1;
	border-color: #d6d6d6;	
}

Button.buttonGrey{
	up-skin: Embed(source="ui.swf",symbol="buttonGrey_up");	
	over-skin: Embed(source="ui.swf",symbol="buttonGrey_over");	
	down-skin: Embed(source="ui.swf",symbol="buttonGrey_over");	
	disabled-skin: Embed(source="ui.swf",symbol="buttonGrey_disabled");		
	color: #878787;
	text-roll-over-color: #333333;
	disabled-color: #999999;
	font-family: "DINOT-Medium";
	font-size: 13;
	font-weight: normal;
}

Button.noSkinButton{
	skin: ClassReference(null);				
	font-weight: normal;
	font-family: "DINOT-Medium";
	font-size: 12;
	color: #666666;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

Canvas.softYellowContainerRounded{
	background-color: #f5f3ea;
	border-style: solid;
	corner-radius: 3;
	border-color: #d9baae;	
}

Canvas.bkgSourcesSelector{
	background-image: Embed(source="ui.swf",symbol="bkg_sourcesSelector");		
}

Canvas.bkgShareSelector{
	background-image: Embed(source="ui.swf",symbol="bkg_shareSelector");		
}

CheckBox{
	disabledIcon: Embed(source="ui.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="ui.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="ui.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="ui.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="ui.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="ui.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="ui.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="ui.swf", symbol="CheckBox_upIcon");
	color: #777777;
	textRollOverColor: #333333;
	textSelectedColor:#333333;
	textDisabledColor: #999999;
	fontSize:12;
	fontWeight:normal;
	font-family: "DINOT-Medium";
	horizontalGap:0;
	paddingTop: -4;
	paddingBottom: 0;
}

Button.btnZoomMore{
	up-skin: Embed(source="ui.swf",symbol="btn_zoom_more_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_zoom_more_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_zoom_more_over");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnZoomMinus{
	up-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_over");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

HSlider{
	thumbDisabledSkin: Embed(source="ui.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="ui.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="ui.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="ui.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="ui.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="ui.swf", symbol="SliderTrack_Skin");
	tickColor:#FFFFFF;
	tick-length:8;
	tickOffset:6;
	tickInterval:1;
	tickThickness:1;
	thumb-offset: 0;
}

/* END NUEVOS*/

/* Canvas.headerCanvas{
	background-color: #375381;
	border-style: none;	
}

Canvas.topToolbar{
	background-image: Embed(source="ui.swf",symbol="bkg_top_toolbar");	
}

Canvas.whiteOverlay{
	background-image: Embed(source="ui.swf",symbol="bkg_white_overlay");
}

Canvas.whiteOverlayClose{
	background-image: Embed(source="ui.swf",symbol="bkg_white_overlay_close");
}

Canvas.darkTopContainer{
	background-image: Embed(source="ui.swf",symbol="dark_top_container");	
}

Canvas.bkgOrange{
	background-image: Embed(source="ui.swf",symbol="bkg_orange");	
}

Canvas.bkgOrangeOver{
	background-image: Embed(source="ui.swf",symbol="bkg_orange_over");	
}

Canvas.bkgInfoWindow{
	background-image: Embed(source="ui.swf",symbol="bkg_infoWindow");	
}

Canvas.softWhiteGreyContainer{
	background-color: #FFFFFF;
	background-alpha: .6;
	border-style: solid;
	corner-radius: 1;
	border-color: #d7d7d7;	
}

Canvas.softBlueContainer{
	background-color: #375381;
	background-alpha: .2;
	border-style: solid;
	corner-radius: 1;
	border-color: #8e9cb4;	
}

Canvas.softWhiteContainer{
	background-color: #FFFFFF;
	background-alpha: .4;
	border-style: solid;
	corner-radius: 1;
	border-color: #FFFFFF;	
}

Canvas.softYellowContainer{
	background-color: #f5f3ea;
	background-alpha: .8;
	border-style: solid;
	corner-radius: 1;
	border-color: #d9baae;	
}

Canvas.softYellowContainerRounded{
	background-color: #f5f3ea;
	border-style: solid;
	corner-radius: 3;
	border-color: #d9baae;	
}

Canvas.greenContainer{
	background-color: #e9ebdf;
	border-style: none;
}

Canvas.softGreenContainer{
	background-color: #f2f2f1;
	border-style: none;
}

Canvas.whiteBoxBorder{
	background-image: Embed(source="ui.swf",symbol="bkg_white_border");	
}

Canvas.whiteBoxBorderOver{
	background-image: Embed(source="ui.swf",symbol="bkg_white_border_over");	
}

Canvas.featuredAreaOver{
	background-image: Embed(source="ui.swf",symbol="featuredAreaOver");	
}



Button.btnViewType{
	skin: ClassReference(null);
	color: #4a4f33;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "DINOT-Medium";
	font-size: 11;
	font-weight: normal;
	padding-bottom: 0;
	padding-top:-7;
	padding-left: 3px;
	padding-right: 3px;
	disabledColor: #FFFFFF;	
}

Button.btnTool{
	up-skin: Embed(source="ui.swf",symbol="btn_tool_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_tool_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_tool_over");	
	disabled-skin: Embed(source="ui.swf",symbol="btn_tool_disabled");	
	selected-up-skin: Embed(source="ui.swf",symbol="btn_tool_selected");	
	selected-over-skin: Embed(source="ui.swf",symbol="btn_tool_selected");	
	selected-down-skin: Embed(source="ui.swf",symbol="btn_tool_selected");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	disabled-color: #dee3c8;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnInfoWindow{
	up-skin: Embed(source="ui.swf",symbol="btn_tool_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_tool_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_tool_over");	
	disabled-skin: Embed(source="ui.swf",symbol="btn_tool_disabled");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	disabled-color: #dee3c8;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnZoomMore{
	up-skin: Embed(source="ui.swf",symbol="btn_zoom_more_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_zoom_more_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_zoom_more_over");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.btnZoomMinus{
	up-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_zoom_minus_over");	
	color: #4a4f33;
	text-roll-over-color: #333333;
	text-selected-color: #333333;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 0; 	
}

Button.breadCrumbButton{
	up-skin: Embed(source="ui.swf",symbol="breadCrumb_up");	
	over-skin: Embed(source="ui.swf",symbol="breadCrumb_over");	
	down-skin: Embed(source="ui.swf",symbol="breadCrumb_over");	
	disabled-skin: Embed(source="ui.swf",symbol="breadCrumb_actual_up");	
	color: #375381;
	text-roll-over-color: #FFFFFF;
	text-selected-color: #FFFFFF;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	padding-top: 4;
	disabledColor: #6C88B6;
	paddingRight: 20;
	paddingLeft: 15;
	paddingBottom: 1; 	
}


Button.invisibleButton{
	skin: ClassReference(null);	
	color: #375381;
	text-roll-over-color: #375381;
	text-selected-color: #375381;
	font-family: "DINOT-Medium";
	font-size: 12;
	font-weight: normal;
	disabledColor: #6C88B6;
	padding-top: 0;
	paddingRight: 0;
	paddingLeft: 0;
	paddingBottom: 0; 	
}



Button.btnMiniTab{
	up-skin: Embed(source="ui.swf",symbol="miniTab_up");	
	over-skin: Embed(source="ui.swf",symbol="miniTab_over");	
	down-skin: Embed(source="ui.swf",symbol="miniTab_selected");	
	selected-up-skin: Embed(source="ui.swf",symbol="miniTab_selected");	
	selected-over-skin: Embed(source="ui.swf",symbol="miniTab_selected");	
	selected-down-skin: Embed(source="ui.swf",symbol="miniTab_selected");	
	color: #4a4f33;
	text-roll-over-color: #4a4f33;
	text-selected-color: #4a4f33;
	disabled-color: #dee3c8;
	font-family: "DINOT-Medium";
	font-size: 13;
	font-weight: normal;
	padding-top: 0; 	
	padding-left: 3;
	padding-right: 3;
}

Button.btnMediaBrowserRight{
	up-skin: Embed(source="ui.swf",symbol="btn_mediaBrowser_right_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_mediaBrowser_right_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_mediaBrowser_right_over");	
}

Button.btnMediaBrowserLeft{
	up-skin: Embed(source="ui.swf",symbol="btn_mediaBrowser_left_up");	
	over-skin: Embed(source="ui.swf",symbol="btn_mediaBrowser_left_over");	
	down-skin: Embed(source="ui.swf",symbol="btn_mediaBrowser_left_over");	
}



HSlider{
	thumbDisabledSkin: Embed(source="ui.swf", symbol="SliderThumb_disabledSkin");
	thumbDownSkin: Embed(source="ui.swf", symbol="SliderThumb_downSkin");
	thumbOverSkin: Embed(source="ui.swf", symbol="SliderThumb_overSkin");
	thumbUpSkin: Embed(source="ui.swf", symbol="SliderThumb_upSkin");
	trackHighlightSkin: Embed(source="ui.swf", symbol="SliderHighlight_Skin");
	trackSkin: Embed(source="ui.swf", symbol="SliderTrack_Skin");
	tickColor:#FFFFFF;
	tick-length:8;
	tickOffset:6;
	tickInterval:1;
	tickThickness:1;
	thumb-offset: 0;
}




CheckBox{
	disabledIcon: Embed(source="ui.swf", symbol="CheckBox_disabledIcon");
	downIcon: Embed(source="ui.swf", symbol="CheckBox_downIcon");
	overIcon: Embed(source="ui.swf", symbol="CheckBox_overIcon");
	selectedDisabledIcon: Embed(source="ui.swf", symbol="CheckBox_selectedDisabledIcon");
	selectedDownIcon: Embed(source="ui.swf", symbol="CheckBox_selectedDownIcon");
	selectedOverIcon: Embed(source="ui.swf", symbol="CheckBox_selectedOverIcon");
	selectedUpIcon: Embed(source="ui.swf", symbol="CheckBox_selectedUpIcon");
	upIcon: Embed(source="ui.swf", symbol="CheckBox_upIcon");
	color: #777777;
	textRollOverColor: #333333;
	textSelectedColor:#333333;
	textDisabledColor: #999999;
	fontSize:12;
	fontWeight:normal;
	font-family: "DINOT-Medium";
	horizontalGap:0;
	paddingTop: -4;
	paddingBottom: 0;
}	

RadioButton{
	disabledIcon: Embed(source="ui.swf", symbol="RadioButton_disabledIcon");
	downIcon: Embed(source="ui.swf", symbol="RadioButton_downIcon");
	overIcon: Embed(source="ui.swf", symbol="RadioButton_overIcon");
	selectedDisabledIcon: Embed(source="ui.swf", symbol="RadioButtonSelected_disabledIcon");
	selectedDownIcon: Embed(source="ui.swf", symbol="RadioButtonSelected_downIcon");
	selectedOverIcon: Embed(source="ui.swf", symbol="RadioButtonSelected_overIcon");
	selectedUpIcon: Embed(source="ui.swf", symbol="RadioButtonSelected_upIcon");
	upIcon: Embed(source="ui.swf", symbol="RadioButton_upIcon");
	color: #777777;
	textRollOverColor: #333333;
	textSelectedColor:#333333;
	textDisabledColor: #999999;
	fontSize:12;
	fontWeight:normal;
	font-family: "DINOT-Medium";
	horizontalGap:0;
	paddingTop: -1;
	paddingBottom: 0;
}


ProgressBar {
   barColor: #bfc69f;
   trackHeight: 10;
}

 */