<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Named Area Repository (NAR)</h1>
<h2>Introduction:</h2>

<p>The Named area repository is an archive of
  polygons for named areas known to be used for species distributions. Most of species range maps or distributions are done, or based on some predefined areas, like countries, ecoregions, counties, etc.</p>
<p>The database has a very simple structure:</p>
<p><img src="../images/NarDbModel.png" width="466" height="246" /></p>
<p>The named_area_reference records the different references for named areas: iso2, iso3, tdwg_level_4, etc.</p>
<p>The named_area table holds the different areas: ES, PT, etc...</p>
<p>Finally the named_area_geom is where the geometries for the areas are stored. They are normalized against the named_area table in order to allow areas in different references share the geometries.</p>
<p>The NAR website is simple visualization tool to help users explore the data. But mainly the NAR is considered to be used through webservices or data dumps.</p>
<h2>Website:</h2>
<p>asd</p>
<h2>API:</h2>
<p>&nbsp;</p>
<p>DB Dumps:</p>
<p>&nbsp;</p>
</body>
</html>
